* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$border: #9f9f9f;
$text: white;
$muted-text: rgb(200, 200, 200);
$background: black;
$primary: #191919;
body {
  background-color: black;
  color: $text;
  font-family: "Fira Code";
  accent-color: rgb(99, 99, 116);
}

a {
  color: $text;
  text-decoration: none;
}
button {
  border: none;
  background-color: $background;
  color: white;
}
.btn {
  padding: 10px 20px;
  background-color: $primary;
  border: 1px solid rgb(138, 138, 138);
  color: white;
  border-radius: 8px;
  border: 1.7px solid $border;
}
.f-btn {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid $border;
  border-radius: 10px;
  font-size: 18px;
}

input {
  background-color: $background;
  border: none;
  font-family: "Fira Code";
  color: $text;
  &:focus {
    outline: none;
  }
}
@mixin input {
  background-color: $background;
  border: 1px solid $border;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
}
.input {
  @include input;
  width: 100%;
  font-size: 18px;
}
@mixin item {
  width: 100%;
  padding: 10px 18px;
  background-color: $primary;
  margin-bottom: 10px;
  border-radius: 8px;
}
.item {
  @include item;
}
.item-icon {
  @include item;

  display: flex;
  align-items: center;
  gap: 10px;
  div {
    flex-grow: 1;
  }
}
// .items {
//   margin: 10px;
//   div {
//     padding: 8px 15px;
//     background-color: rgb(60, 60, 60);
//     margin-bottom: 4px;
//     border-radius: 6px;
//   }
// }

.acc {
  color: white;
  margin-top: 30px;
  border-radius: 8px;

  .acc-head {
    display: flex;
    height: 35px;
    align-items: center;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid $border;
    padding: 10px;
    background-color: $primary;
    padding: 25px;
    user-select: none;
    justify-content: space-between;

    .main {
      display: flex;
      gap: 30px;
    }
    .options {
      display: flex;
      gap: 10px;
      align-items: center;

      .icon {
        font-size: 20px;
        color: rgb(183, 183, 183);
      }
      .bin {
        font-size: 14px;
        // color: rgb(172, 0, 0);
      }
      .add {
        // color: rgb(0, 231, 0);
      }
      .edit {
        // color: rgb(0, 119, 255);
      }
    }
  }

  .edit-box {
    margin-top: 20px;
    position: relative;
    overflow-x: hidden;
    .edit-item {
      @include item;
      // position: absolute;
      // margin-left: 90px;
      display: flex;
      p {
        flex-grow: 1;
      }
    }
    .edit-input {
      margin-top: 20px;
      input {
        margin-bottom: 10px;
        font-size: 16px;
        padding: 8px 16px;
      }
    }
    .add-btn {
      padding: 6px 8px;
      padding-bottom: 4px;
    }
  }

  .acc-body {
    display: flex;
    flex-flow: column nowrap;
    // background-color: red;
    align-items: stretch;
    justify-content: center;
    margin-top: 15px;

    gap: 12px;

    .input-field {
      display: flex;
      align-items: center;
      @include input;
      margin: 5px;
      // padding: 8px 10px;
      .icon {
        font-size: 16px;
        color: white;
        background-color: rgb(0, 0, 0);
      }
      input {
        flex: 1;
        font-size: 16px;
      }
    }
    .acc-item {
      display: flex;
      padding-left: 15px;
      margin-bottom: 10px;
      gap: 15px;
      align-items: center;
      .icon {
      }
    }
  }

  .acc-head .icon {
    margin-left: 10px;
  }
  .acc-head:hover {
    box-shadow: 0 0 0 5px rgba(128, 128, 128, 0.396);
    border: 1px solid rgba(222, 222, 222, 0.754);
  }
}

.home,
.settings,
.create-acc,
.history {
  margin: 20px;
}

.add-item-fields {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 20px;

  input {
    font-size: 16px;
    padding: 8px 16px;
  }

  .field {
    gap: 10px;
    display: flex;
    align-items: center;
    input {
      flex-grow: 1;
      width: 100%;
      // background-color: red;
    }
    button {
      padding: 8px 15px;
      // padding: 10px 16px;
    }
  }
}

.create-acc {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .inp-title {
    margin-bottom: 15px;
  }
  .item {
    background-color: $primary;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;

    div {
      flex-grow: 1;
    }
    .icon {
      font-size: 22px;
      color: rgb(111, 111, 111);
    }
  }
}
.settings {
  button {
    margin-bottom: 15px;
  }
  .settings-head {
    margin-bottom: 30px;
  }
}
.icon-outer {
  // background-color: red;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
}

.search {
  position: fixed;
  bottom: 20px;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 15px;
  background-color: black;
  z-index: 10;
  width: calc(100% - 40px);

  .s-es {
    // top: (calc(100px + 40px));
    // bottom: 0px;
    bottom: calc(100% + 15px);
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    // height: 400px;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    background-color: black;
  }

  .s-e {
    display: flex;
    // justify-content: ;
    gap: 10px;
    width: 400px;
    // background-color: red;
    color: white;
    // margin-bottom: 5px;
  }

  form {
    display: flex;
    gap: 10px;
    // background-color: red;
    align-items: center;
    // position: relative;
    border-radius: 12px;
    button {
      font-size: 20px;
      padding-left: 10px;
      padding-top: 5px;
      border-radius: 15px;
      background-color: black;
      // background-color: none;
      // background-color: grey;
    }
  }

  form:hover {
    // box-shadow: 0 0 0 5px rgba(101, 101, 101, 0.512);
  }

  input {
    // background-color: red;
    // width: 1%;
    flex-grow: 1;
    font-size: 18px;
    border-radius: 15px;
    text-align: left;
    padding-left: 8px;
    height: 45px;
  }
  // width: 85%;
}

.history {
  h2 {
    margin-bottom: 25px;
    margin-left: 20px;
  }

  .history-remove-icon {
    font-size: 20px;
    color: gray;
  }
}
